@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
span {
  display: inline-block;
}
input {
  outline: none;
}
a {
  text-decoration: none;
  color: #22343d;
  font-weight: 400;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
}
.flex-class {
  display: flex;
}
.grid-class {
  display: grid;
}
.selected {
  font-weight: 900;
  color: #22343d;
}
